<p class="text-danger"><%= flash[:message] if flash[:message]%></p>

<div class="py-5 text-center">
    <h2>Simplify Maintenance Management</h2>
    <p class="lead">Helping maintenance teams keep a record of all assets they are responsible for, schedule and track maintenance tasks, and keep a historical record of work they perform.</p>
</div>

<div class="row">